.region_list {
  list-style: none;
  li {
    a {
      font-size: 16px;
      display: block;
      padding: 7px;
      border: 1px solid $header;
      background: $transparent;
      width: 80px;
      margin-bottom: 10px;
      color: $header;
      text-decoration: none;
      transition: all .3s;
      &:hover {
        background: $header;
        color: $white !important;
      }
    }
  }
}