body {
  font-family: 'Open Sans';
}

.form {
  width: 350px;
  margin: 0 auto;
  text-transform: uppercase;
  .header_form {
    background-color: #222222;
    color: #ffffff;
    font-size: 1.2em;
    height: 65px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  .body_form {
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    padding: 15% 0;
  }
  input {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 1em;
    text-transform: uppercase;
  }
  .input_text {
    padding: 8px;
    border-radius: 5px;
    .input_button {
      padding: 8px;
      border-radius: 5px;
      background-color: #1dabb7;
    }
  }
}

li {
  font-size: 12px;
}

i.fa {
  font-size: 24px;
  padding: 10px;
}

.navbar {
  min-height: 80px;
}

.border {
  border-right: 1px solid gray;
}

.fa-search {
  font-size: 12px !important;
  padding: 0 !important;
}

.search_top {
  line-height: 70px;
}

.navbar-brand {
  padding: 25px;
}

.form-group {
  input {
    width: 150px !important;
  }
}
input, select {
  display: block !important;
}
