// fonts
$baseFont: 'Open Sans';

//color
$white: #fff;
$transparent: transparent;
$header: #415878;
$text_primary: #fff;
$text_dark: #212121;
$pink: #FF4040;
@font-face {
  src: url("../fonts/impact.ttf");
  font-family: Impact;
}
@font-face {
  src: url("../fonts/PROXIMAEC.OTF");
  font-family: ProximaEC;
}